# Server
PORT=3001
NODE_ENV=development

# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/studex_db"

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here

# Frontend URL (untuk CORS)
FRONTEND_URL=http://localhost:3000
